.pictureOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.719);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pictureOverlayImg {
    object-fit: contain;
    height: calc(100vh - 200px);
    width: 100vw;
}

.pictureOverlayX {
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    background: none;
    border-width: 0px;
}

.pictureOverlayX:hover {
    background: none;
    color: white;
    border-width: 0px;
}

.photography {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photographyNavBar {
    width: 100vw;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.photographyNavButton {
    height: 25px;
    width: 200px; 
    color: black;
    border-width: 0px;
    font-size: 20px;
    margin: 0px;
}