img#a {
    width: 100%;
    height: 100%;
}

.floatTopRight{
  position:fixed;
  width:120px;
  height:50px;
  top:10px;
  background-color:#FFFFFF;
  color:#000;
  text-align:center;
  z-index: 2;
  
}

.f1 {
  right:10px;
}

.f2 {
  right:140px;
}

.f3 {
  right:270px;
}

.f4{
    right:400px;
}
